*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	overflow-x: hidden;
	font-family: Roboto;
}
body.off {
	overflow-y: hidden;
	background-color: #282828;
}
a {
	outline: 0;
	text-decoration: none;
	transition: .2s;
	cursor: pointer;
}
header {
	z-index: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 50px;
	padding: 0 20px;
	line-height: 50px;
	font-family: Cinzel;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #282828;
}
h1 {
	float: left;
	margin: 0;
	font-size: 16px;
}
header i {
	font-size: 14px;
}
header a {
	display: inline-block;
	color: #fff;
	user-select: none;
}
h1 a:active, h1 i, header li:nth-child(n+4) a:active, header .on, .fa-plus-circle, article .fa-play-circle, article .fa-pause-circle, .replies.on, footer i:active {
	color: #f44;
}
header ul {
	float: right;
	margin: 0;
	padding: 0;
}
header li {
	float: left;
	display: inline-block;
	font-weight: 700;
}
header li a {
	padding: 0 5px;
}
header li:last-child {
	margin-right: -5px;
}
header span {
	display: none;
	margin: 0 0 0 3px;
}
html[dir="rtl"] header span {
	margin: 0 3px 0 0;
}
nav {
	z-index: 2;
	display: none;
	position: fixed;
	width: 100%;
	max-height: calc(100vh - 50px);
	overflow: auto;
	padding: 20px;
	color: #282828;
	background-color: #c1c1c1;
	box-shadow: 0px 5px 5px 0px rgba(40, 40, 40, .75);
}
.menu {
	font: 700 12px/2.5 Cinzel;
	text-transform: uppercase;
	text-shadow: 0 0 5px #fff;
	text-align: center;
	cursor: default;
}
nav a {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	color: #282828;
	user-select: none;
}
nav a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 2px;
	transition: .2s;
	transform: scaleX(0);
	visibility: hidden;
	background-color: #282828;
}
nav a:hover:before, nav .on:before {
	transform: scaleX(1);
	visibility: visible;
}
input, button, select {
	margin: 0;
	border: 0;
	outline: 0;
}
select, button, #q {
	height: 32px;
	margin-top: 5px;
	color: #757575;
	background-color: #f1f1f1;
}
input[type="checkbox"] {
	margin: 0 2px 0 0;
	vertical-align: -4px;
}
html[dir="rtl"] input[type="checkbox"] {
	margin: 0 0 0 2px;
}
select {
	width: 100%;
	padding: 0 6px;
	font: 700 12px Cinzel;
	text-transform: uppercase;
}
#q {
	float: left;
	width: 88%;
	padding: 0 10px;
}
button, #q {
	font: 400 12px Roboto;
}
button {
	float: right;
	width: 11.5%;
	cursor: pointer;
}
button:active {
	color: #f1f1f1;
	background-color: #757575;
}
nav div {
	float: left;
	width: 100%;
}
nav div:nth-child(n+2) {
	margin-top: 20px;
}
form div:nth-child(-n+3) label {
	display: block;
}
form div:nth-child(n+6) {
	width: 50%;
}
form div:nth-child(n+4), .settings div:nth-child(-n+4) {
	text-align: center;
}
form div:nth-child(8), .settings div:nth-child(5) {
	clear: left;
}
label {
	font: 700 12px/1 Cinzel;
	text-transform: uppercase;
	text-shadow: 0 0 5px #fff;
	user-select: none;
}
.settings p {
	margin: 5px 0 0;
	padding: 0 5%;
	font-size: 12px;
	line-height: 1.5;
	text-shadow: 0 0 5px #fff;
}
.settings u {
	display: inline-block;
	cursor: pointer;
}
.ui-autocomplete {
	z-index: 3;
	position: fixed;
	width: 1%;
	margin: 0;
	padding: 0;
	overflow: auto;
	max-height: 300px;
	box-shadow: 0px 5px 5px 0px rgba(40, 40, 40, .75);
}
.ui-autocomplete li {
	display: block;
	padding: 0 10px;
	font-size: 12px;
	line-height: 2.5;
	color: #282828;
	background-color: #c1c1c1;
	cursor: default;
}
.ui-autocomplete li:nth-child(even) {
	background-color: #f1f1f1;
}
.ui-autocomplete div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ui-state-hover, .ui-state-active {
	font-weight: 700;
}
.ui-helper-hidden-accessible, .comments, .related, .channel, .counter, kbd, kbd img, kbd ul {
	display: none;
}
main {
	min-height: calc(100vh - 100px);
}
main.on {
	opacity: .5;
	pointer-events: none;
}
section {
	padding: 10px;
}
section:after, aside:after, ol:after {
	content: '';
	display: table;
	clear: both;
}
article {
	position: relative;
	float: left;
	padding: 10px;
	font-size: 12px;
}
article a {
	display: block;
	position: relative;
	color: #fff;
	border-radius: 5px;
}
article img {
	display: block;
	width: 100%;
	padding-top: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
article span {
	position: absolute;
	width: 100%;
	padding: 2px 4px;
	line-height: 16px;
	background-color: #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	word-break: break-word;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
article a:hover span {
	white-space: normal;
	text-overflow: clip;
}
article small, article b {
	position: absolute;
	padding: 4px;
	line-height: 1;
	background-color: #000;
}
article small {
	left: 0;
	bottom: 0;
	max-width: 75%;
	font-size: inherit;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.playlist small {
	cursor: move;
}
article b {
	right: 10px;
	bottom: 10px;
	border-bottom-right-radius: 5px;
	font-weight: 400;
	color: #fff;
}
article b, h5 b {
	cursor: grab;
	transition: .2s;
}
article b:active, h5 b:active {
	cursor: grabbing;
}
article i {
	font-size: 11px;
}
article .fa-check-circle, h5 .fa-check-circle {
	color: #09c;
}
h2, h3 {
	margin: 0;
	padding: 15px 20px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	word-break: break-word;
}
h2 {
	color: #282828;
	background-color: #c1c1c1;
	text-shadow: 0 0 5px #fff;
}
h3 {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	text-shadow: 0 0 10px #282828;
}
h3 div {
	color: #757575;
	text-shadow: none;
}
ol {
	margin: 0;
	padding: 20px 10px 0;
	font: 700 14px/50px Roboto;
	text-transform: uppercase;
}
ol li {
	float: left;
	display: block;
	width: 25%;
	padding: 0 10px;
	text-align: center;
}
ol a, ol b, ol em {
	display: inherit;
	color: #757575;
	background-color: #f1f1f1;
	border-radius: 5px;
	user-select: none;
}
ol b, ol em, dt b {
	cursor: pointer;
}
ol a:active, ol b:not(.off):active, ol em:active, ol .on {
	color: #282828;
	background-color: #c1c1c1;
}
ol .off, :disabled {
	cursor: not-allowed;
}
aside {
	margin: 0;
	clear: both;
	padding: 10px;
	font: 700 14px/50px Cinzel;
	text-transform: uppercase;
	text-shadow: 0 0 5px #fff;
}
aside i {
	font-size: 12px;
}
aside a {
	display: block;
	text-align: center;
	color: #282828;
	background-color: #c1c1c1;
	border-radius: 5px;
	user-select: none;
}
aside a:active {
	color: #fff;
	background-color: #282828;
}
.prev, .next {
	width: calc(50% - 10px);
}
.prev {
	float: left;
}
.next {
	float: right;
}
footer {
	height: 50px;
	background-color: #282828;
}
footer div {
	float: left;
	width: 33.333%;
	display: inline-block;
}
footer div:nth-child(1) {
	text-align: right;
}
footer div:nth-child(2) {
	text-align: center;
}
footer div:nth-child(3) {
	text-align: left;
}
footer i {
	color: #fff;
	padding: 19px;
	font-size: 12px;
	cursor: pointer;
}
figure {
	margin: 0;
}
#player, figcaption {
	position: absolute;
	width: 100%;
}
#player {
	height: 100%;
	background-color: #000;
}
figcaption {
	height: calc(100% - 50px);
}
legend {
	padding: 0;
	text-align: center;
	color: #c1c1c1;
	overflow: hidden;
	cursor: ns-resize;
}
legend span {
	display: inline-block;
	position: relative;  
}
legend span:before, legend span:after {
	content: '';
	position: absolute;
	top: 9px;
	width: 50vw;
	border-top: 1px solid #c1c1c1;
}
legend span:before {
	left: 100%;
}
legend span:after {
	right: 100%;
}
legend:active {
	color: #757575;
}
legend:active span:before, legend:active span:after {
	border-color: #757575;
}
dl {
	color: #757575;
	text-align: center;
}
.info {
	padding: 20px;
	text-align: center;
}
.info, .comments div {
	font-size: 12px;
	line-height: 20px;
	color: #757575;
}
.info a, .comments div a, blockquote time:active, .replies:active {
	color: #757575;
}
.info a:active, .info time:active, .comments div a:active, dt b:active {
	color: #282828;
}
time {
	cursor: help;
	user-select: none;
}
h4, h5 {
	word-break: break-word;
}
h4 {
	margin: 0;
	font-size: 14px;
}
h5 {
	margin: 10px 0 0;
	font-size: inherit;
}
h5 a, h5 b, dt b {
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #f1f1f1;
}
h5 a, h5 b {
	display: inline-block;
	margin: 5px;
}
h5 b {
	cursor: grab;
}
dt b {
	display: block;
	margin: 10px 0 0;
	text-align: center;
	user-select: none;
}
.info div {
	margin: 10px 0 0;
	cursor: default;
}
.info div i, blockquote i {
	margin-right: 3px;
}
html[dir="rtl"] .info div i, html[dir="rtl"] blockquote i {
	margin-left: 3px;
}
.info div span, blockquote span {
	margin: 0 5px;
	display: inline-block;
}
.info div span:first-of-type, html[dir="rtl"] .info div span:last-of-type, blockquote span:first-of-type, html[dir="rtl"] blockquote span:last-of-type {
	margin-left: 0;
}
.info div span:last-of-type, html[dir="rtl"] .info div span:first-of-type, blockquote span:last-of-type, html[dir="rtl"] blockquote span:first-of-type {
	margin-right: 0;
}
.info p {
	margin: 10px 0 0;
	word-break: break-word;
}
.info p a {
	display: inline-block;
	margin: 0 5px;
}
.info p a:before {
	content: '\f02c';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	line-height: 1;
	padding: 0 3px 0 0;
	color: #c1c1c1;
	transition: .2s;
}
html[dir="rtl"] .info p a:before {
	padding: 0 0 0 3px;
}
.info p a:active:before {
	color: #757575;
}
.clamp {
	overflow: hidden;
	max-height: 100px;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
progress {
	display: block;
	width: 100%;
	height: 20px;
	margin: 10px 0 0;
	-webkit-appearance: none;
}
progress::-webkit-progress-bar {
	background: #c1c1c1;
	border-radius: 5px;
}
progress[value]::-webkit-progress-value {
	background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%),
	-webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
	-webkit-linear-gradient(left, #09c, #f44);
	background-size: 50px, 100%, 100%;
	border-radius: 5px;
}
.comments {
	padding: 10px;
}
.comments div {
	padding: 10px;
}
.comments dt div {
	padding: 10px 0;
}
dt {
	padding: 10px 0 0 50px;
}
html[dir="rtl"] dt {
	padding: 10px 50px 0 0;
}
blockquote {
	margin: 10px 0 0;
	color: #c1c1c1;
	transition: .2s;
	cursor: default;
}
blockquote:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 15px;
	border-bottom: 1px solid #f1f1f1;
}
.comments div a {
	font-weight: 700;
}
.comments p {
	margin: 0;
	overflow: hidden;
	word-break: break-word;
}
.comments img {
	float: left;
	width: 40px;
	height: 40px;
	margin: 0 10px 10px 0;
	border-radius: 50%;
	cursor: zoom-in;
}
html[dir="rtl"] .comments img {
	float: right;
	margin: 0 0 10px 10px;
}
.replies {
	cursor: pointer;
	user-select: none;
}
.rotate {
	pointer-events: none;
	animation: spin 1s infinite linear;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
kbd {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: inherit;
	user-select: none;
}
kbd .fa-times-circle {
	position: absolute;
	top: -16px;
	right: -16px;
	border-radius: 50%;
	color: #c1c1c1;
	background-color: #282828;
	cursor: pointer;
}
kbd .fa-times-circle:active {
	background-color: #757575;
}
kbd img {
	max-width: 90vw;
	max-height: 90vh;
	border-radius: 5px;
}
kbd ul {
	margin: 0;
	padding: 20px;
	list-style-type: none;
	width: 90vw;
	max-height: 90vh;
	overflow: auto;
	border-radius: 5px;
	color: #282828;
	background-color: #c1c1c1;
}
kbd li {
	padding: 10px 0;
	font-size: 14px;
	line-height: 1;
	border-radius: 5px;
}
kbd li:nth-child(even) {
	background-color: #f1f1f1;
}
kbd b {
	display: inline-block;
	width: 25%;
	font-family: Cinzel;
	text-align: center;
	text-transform: uppercase;
}
.hide, .hide iframe {
	visibility: hidden;
}
.hide *, .hide *:before {
	transition-duration: 0s !important;
}
.banner {
	display: block;
	width: 100%;
	height: 280px;
	text-align: center;
}
::selection {
	color: #fff;
	background-color: #282828;
}
@media (max-width: 531px) {
	figure {
		z-index: 1;
		position: -webkit-sticky;
		position: sticky;
		top: 50px;
		padding-bottom: 56.25%;
		box-shadow: 0px 10px 10px 0px #fff;
	}
}
@media (min-width: 532px) {
	figure {
		position: relative;
		height: calc(100vh - 50px);
	}
}
@media (min-width: 360px) {
	h1 {
		font-size: 17px;
	}
	h2, h3, h4, aside {
		font-size: 16px;
	}
	header i, ol {
		font-size: 15px;
	}
	.menu, label, select, button, #q, .ui-autocomplete li, .info, .comments div, article, aside i, footer i {
		font-size: 14px;
	}
	article i {
		font-size: 13px;
	}
	header li a {
		padding: 0 10px;
	}
	header li:last-child {
		margin-right: -10px;
	}
	.ui-autocomplete {
		max-height: 350px;
	}
	select, button, #q, .ui-autocomplete li {
		height: 35px;
	}
	input[type="checkbox"] {
		vertical-align: -3px;
	}
	.settings p {
		padding: 0 10%;
	}
	h2, h3 {
		padding: 14px 20px;
		line-height: 22px;
	}
	ol {
		padding: 20px 10px 0;
	}
	ol li {
		padding: 0 10px;
	}
	article {
		width: 50%;
	}
	article img {
		padding-top: 22px;
	}
	article span {
		line-height: 18px;
	}
	article small {
		max-width: 50%;
	}
	legend span:before, legend span:after {
		top: 10px;
	}
	progress {
		height: 22.5px;
	}
	.info, .comments div {
		line-height: 22.5px;
	}
	.clamp {
		-webkit-line-clamp: 4;
	}
	footer i {
		padding: 18px;
	}
	kbd b {
		width: 35%;
	}
}
@media (min-width: 700px) {
	h1, h2, h3, h4, aside {
		font-size: 18px;
	}
	header i, ol, aside i, footer i, .menu, label, select, button, #q, .ui-autocomplete li, .info, .comments div, article, kbd li {
		font-size: 16px;
	}
	article i {
		font-size: 15px;
	}
	header li a {
		padding: 0 15px;
	}
	header li:last-child {
		margin-right: -15px;
	}
	nav a {
		margin: 0 15px;
	}
	.ui-autocomplete {
		max-height: 400px;
	}
	select, button, #q, .ui-autocomplete li {
		height: 40px;
	}
	input[type="checkbox"] {
		margin: 0 4px 0 0;
		transform: scale(1.2);
		vertical-align: -2px;
	}
	html[dir="rtl"] input[type="checkbox"] {
		margin: 0 0 0 4px;
	}
	form div:nth-child(6) {
		clear: left;
	}
	form div:nth-child(8) {
		clear: none;
	}
	form div:nth-child(n+4) {
		width: 50%;
	}
	form div:nth-child(n+6) {
		width: 25%;
	}
	form div:nth-child(2), form div:nth-child(3), .settings div:nth-child(n+5) {
		width: 49.75%;
	}
	form div:nth-child(3), .settings div:last-child {
		float: right;
	}
	.settings div:nth-child(-n+4) {
		width: 50%;
	}
	.settings div:nth-child(2) {
		margin: 0;
	}
	.settings div:nth-child(3) {
		clear: both;
	}
	.settings p {
		font-size: 14px;
	}
	h2, h3 {
		padding: 13px 20px;
		line-height: 24px;
	}
	article {
		width: 33.333%;
	}
	article img {
		padding-top: 24px;
	}
	article span {
		line-height: 20px;
	}
	article small {
		max-width: 60%;
	}
	legend span:before, legend span:after {
		top: 11px;
	}
	progress {
		height: 25px;
	}
	.info, .comments div {
		line-height: 25px;
	}
	footer i {
		padding: 17px;
	}
	kbd ul {
		width: 400px;
	}
}
@media (min-width: 1040px) {
	header span {
		display: inline;
	}
	aside {
		font-size: 24px;
		line-height: 100px;
	}
	aside i, footer i {
		font-size: 22px;
	}
	h2, h3, h4 {
		font-size: 20px;
	}
	h1 {
		font-size: 19px;
	}
	h1 i, header li, ol, article i {
		font-size: 17px;
	}
	header li i {
		font-size: 15px;
	}
	.menu, label, select, button, #q, .ui-autocomplete li, .info, .comments div, article, kbd li {
		font-size: 18px;
	}
	nav a {
		margin: 0 20px;
	}
	.ui-autocomplete {
		max-height: 450px;
	}
	select, button, #q, .ui-autocomplete li {
		height: 45px;
	}
	input[type="checkbox"] {
		margin: 0 6px 0 0;
		transform: scale(1.4);
		vertical-align: 0;
	}
	html[dir="rtl"] input[type="checkbox"] {
		margin: 0 0 0 6px;
	}
	.settings p {
		padding: 0 15%;
	}
	h2, h3 {
		padding: 12px 20px;
		line-height: 26px;
	}
	article {
		width: 25%;
	}
	article img {
		padding-top: 26px;
	}
	article span {
		line-height: 22px;
	}
	legend span:before, legend span:after {
		top: 12px;
	}
	progress {
		height: 27.5px;
	}
	.info, .comments {
		padding-left: calc(25% + 5px);
		padding-right: calc(25% + 5px);
	}
	.info, .comments div {
		line-height: 27.5px;
	}
	.info div span, blockquote span {
		margin: 0 10px;
	}
	.info div i, blockquote i {
		margin-right: 4px;
	}
	html[dir="rtl"] .info div i, html[dir="rtl"] blockquote i {
		margin-left: 4px;
	}
	.info, .info p a {
		margin: 0 10px;
	}
	dt {
		padding-left: 100px;
	}
	.clamp {
		-webkit-line-clamp: 3;
	}
	footer i {
		padding: 14px;
	}
	kbd ul {
		width: 450px;
	}
}
@media (min-width: 1380px) {
	aside {
		font-size: 30px;
	}
	aside i, footer i {
		font-size: 28px;
	}
	h2, h3, h4 {
		font-size: 22px;
	}
	h1 {
		font-size: 20px;
	}
	article i {
		font-size: 19px;
	}
	h1 i, header li, ol {
		font-size: 18px;
	}
	header li i {
		font-size: 16px;
	}
	.menu, label, select, button, #q, .ui-autocomplete li, .info, .comments div, article, kbd li {
		font-size: 20px;
	}
	nav a {
		margin: 0 25px;
	}
	.ui-autocomplete {
		max-height: 500px;
	}
	select, button, #q, .ui-autocomplete li {
		height: 50px;
	}
	input[type="checkbox"] {
		margin: 0 8px 0 0;
		transform: scale(1.6);
		vertical-align: .5px;
	}
	html[dir="rtl"] input[type="checkbox"] {
		margin: 0 0 0 8px;
	}
	.settings div:nth-child(-n+4) {
		width: 25%;
		margin: 0;
	}
	.settings div:nth-child(3) {
		clear: none;
	}
	.settings p {
		font-size: 16px;
	}
	h2, h3 {
		padding: 11px 20px;
		line-height: 28px;
	}
	article {
		width: 20%;
	}
	article img {
		padding-top: 28px;
	}
	article span {
		line-height: 24px;
	}
	legend span:before, legend span:after {
		top: 13px;
	}
	progress {
		height: 30px;
	}
	.info, .comments div {
		line-height: 30px;
	}
	footer i {
		padding: 11px;
	}
	kbd ul {
		width: 500px;
	}
}
